
.game-supra-Canvas{
   width: 100%;
}

.top{
    flex-grow:1;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    z-index: 2;
    overflow: hidden
}

.top .title {
   width: 100%;
   font-size:var(--w8);
   font-weight: bold;
   border: unset;
   flex-basis: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.rotate90 .title{
   font-size:var(--h8);
}
.rotate90 .credits{
   font-size:var(--h4);
   margin-top: var(--w8);
}

.top .goal{
   padding: calc(var(--w-8) + var(--h-8));
   line-height: calc(var(--h4) + var(--w2) + var(--h1));
   flex-grow: 1;
   justify-content: center;
   background-color: var(--lightyellow);
   font-size: calc(var(--w4) + var(--h4));
   font-variant-caps:small-caps;
   font-weight: bold;
}

.middle{
    min-height: 33.33%;
    max-height: 66.66%;
    flex-grow:2;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--lightyellow);
    filter: brightness(1.2);
    flex-wrap:wrap;
    position: relative;
    overflow:hidden;
}

.rotate90 .middle{
   height: auto;
   margin-top: auto;
   padding-top: var(--w4);
   padding-bottom: var(--w4);
}

.letters{
   font-size: var(--w8);
   font-weight: bold;
   color:var(--darkblue);
}

.letter{
   font-feature-settings:normal;
   font-weight: bold;
   color:var(--darkblue);
   border-bottom: var(--w2) solid var(--darkblue);
   padding: var(--h-2) var(--w-2) var(--h-2) var(--w-2);
   transition-duration: var(--durationOff);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(var(--h4) + var(--w2));
   height: calc(var(--h8) + var(--w4));
   border-bottom-width: calc(var(--h1) + var(--w-2));
   
}

.letter.caret, .caret .half{
    background-color: var(--darkblue);
    border-bottom-color: var(--lightyellow);
    color:var(--lightyellow);
    width: calc(var(--h4) + var(--w2));
}

.win{
   --lightyellow:var(--blue);
}

@keyframes Flicker{
  0%,100%   { 
     background:var(--lightyellow);
     color:var(--darkblue);
   }
  15%,85%   { 
     background:var(--darkblue);
     color:var(--lightyellow);
   }
}


.caret, .caret .half {
  -webkit-animation: Flicker 5s infinite; /* Safari 4+ */
  -moz-animation:    Flicker 5s infinite; /* Fx 5+ */
  -o-animation:      Flicker 5s infinite; /* Opera 12+ */
  animation:         Flicker 5s infinite; /* IE 10+, Fx 29+ */
   transition-duration: var(--durationOff);
}

.caret.forbidden{
   background-color: var(--lightyellow);
   color: var(--darkblue);
   -webkit-animation:unset; /* Safari 4+ */
  -moz-animation:    unset; /* Fx 5+ */
  -o-animation:      unset; /* Opera 12+ */
  animation:         unset; /* IE 10+, Fx 29+ */
}



/*Level-specific*/
.symmetry.horizontal,
.symmetry.vertical.inversion{
   transform: scaleX(-1);
   transition-duration: var(--durationOff);
}
.symmetry.vertical,
.symmetry.horizontal.inversion{
   transform: scaleY(-1);
   transition-duration: var(--durationOff);
}
.symmetry.vertical.horizontal,
.symmetry.inversion{
   transform: scaleX(-1) scaleY(-1);
   transition-duration: var(--durationOff);
}
.symmetry.vertical.horizontal.inversion{
   transform: scaleX(1) scaleY(1);
   transition-duration: var(--durationOff);
}

.superimpose{
   position: relative; 
}
.superimposed{
   transition-duration: var(--durationOff);
   position: absolute;
}

.letter.draft{
  color: var(--blue);
  border-bottom-color: var(--blue);
}

.space {
   width: var(--w2);
}
.space.caret:before{
   content: "_";
}

.half{
   --s:calc(var(--h4) + var(--w2));
   width: var(--s);
}

.upper.half{
   padding-top: calc(var(--s)/5);
   clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 70%);
   transform: translateY(calc(var(--s)*0.1));
}
.lower.half{
   padding-bottom: calc(var(--s)/2);
   transform: translateY(calc(var(--s)*0.3));
   clip-path: polygon(0% 33%, 100% 33%, 100% 70%, 0% 70%);
}
