.game-container{
	display:flex;
	flex-direction:column;
	height:100vh;
	overflow:hidden;
}

.game-container .tabletop{
	display:flex;
	flex-direction:row;
	position: relative;
    height:calc(95vh - 9*var(--fontheight) - var(--h4));
	background-color: transparent;
}

.tabletop .game-supra-canvas{
	flex:0 1 100%;

}

.tabletop .explainer{
	flex:0 1 50%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin:var(--h2) 0 0 var(--w2);
	justify-content:center;

}

.tabletop .explainer .explanation{
	display:flex;
	max-width:calc(var(--w8) + var(--h4));
	padding:0;
	margin:var(--h-4) var(--w-4) var(--h-4) var(--w-4);
}
.tabletop .explainer img{
	align-self:center;
	min-width:calc(var(--w16) + var(--h8));
}

.tabletop .explainer .description{
	width:100%;
	margin-top:calc( -1 * var(--h-4))
}

.tabletop .explainer .description p{
    padding:var(--h-2) var(--w-2) var(--h-2) 0;
    margin:0;
    line-height:calc(0.65 * var(--fontheight));
    font-size:calc(var(--fontheight)*0.7);
    text-align:right
}



.tabletop .layer{
	top:0;
	position: absolute;
}

.game-container .title{
	font-size:calc(3*var(--fontheight));
	font-weight:bold;
	background-color:unset;
	padding:var(--h1) 0 var(--h2) 0;
}
.game-container .colophon{
	position:absolute;
	bottom:var(--h1);
    font-size:calc(var(--fontheight));
	font-weight:bold;
	font-style:italic;
	width:100%;
	background-color:var(--smokewhite);
}

.game-container .subtitle{
	font-size:calc(var(--fontheight));
	font-weight:bold;
	font-style:italic;
	line-height:calc(0.85 * var(--fontheight));
	padding:var(--h1) var(--w8) 0 var(--w8);
	margin:calc(0.2 * var(--fontheight));
}
.game-container .subtitle p{
    margin:calc(0.2 * var(--fontheight));
}

.colophon .thanks{
	position:absolute;
	width:100%;
	text-align:left;
	padding:0 0 0 var(--w4);
}

.colophon .authorship{
	width:100%;
	text-align:right;
}

.authorship div{
	padding:0 var(--w2) 0;
}