.game-container{
	display:flex;
	flex-direction:column;
	height:95vh;
	min-height:95vh;
}

.game-container .tabletop{
	display:flex;
	flex-direction:row;
	position: relative;
    height:calc(95vh - 9*var(--fontheight) - var(--h4));
	background-color: transparent;
}

.tabletop .game-supra-canvas{
	flex:0 0 50%;
}

.tabletop .explainer{
	flex:0 1 25%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	font-size:calc(var(--fontheight)*0.75);
	line-height:var(--h2);
}


.tabletop .explainer .depiction{
	max-width:var(--w8);
	overflow:hidden;
}
.tabletop .explainer .description{
	max-width:var(--w8);
	overflow:hidden;
}


.tabletop .game-supra-canvas canvas{
	top:0;
	position: absolute;
	background-color: transparent;

}

.game-container .title{
	font-size:calc(3*var(--fontheight));
	font-weight:bold;
	background-color:unset;
	padding:var(--h1) 0 var(--h2) 0;
}
.game-container .colophon{
	position:absolute;
	bottom:var(--h1);
    font-size:calc(var(--fontheight));
	font-weight:bold;
	font-style:italic;
	width:100%;
}

.game-container .subtitle{
	font-size:calc(var(--fontheight));
	font-weight:bold;
	font-style:italic;
	padding:var(--h1) var(--w8) 0 var(--w8);
}

.colophon .thanks{
	position:absolute;
	width:100%;
	text-align:left;
	padding:0 0 0 var(--w4);
}

.colophon .authorship{
	width:100%;
	text-align:right;
}

.authorship div{
	padding:0 var(--w2) 0;
}

