.game-container{
	display:flex;
	flex-direction:column;
	height:95vh;
	min-height:95vh;
}

.game-container .tabletop{
	display:flex;
	flex-direction:row;
	position: relative;
    height:calc(95vh - 9*var(--fontheight) - var(--h4));
	background-color: transparent;
}

.depiction{
	position:relative;
}

.tabletop .game-supra-canvas{
	flex:0 0 50%;
}

.tabletop .explainer{
	flex:0 1 50%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin:var(--h2) 0 0 var(--w2);
	justify-content:center;
	overflow:hidden
}

.tabletop .explainer .explanation{
	display:flex;
	flex:auto;
	flex-direction:column;
	min-width:var(--w16);
	padding:0;
	margin:var(--h1) var(--w1) var(--h1) var(--w1);
}

.tabletop .explainer .description{
	width:var(--w16);
	align-self:flex-start;
	z-index:2;
	height:100%;
    position:relative;
    overflow:visible;
}
.tabletop .explainer .description p{
	font-style:italic;
	font-weight:bold;
	text-align:right;
	align-self:flex-end;
    position:relative;
	top:calc(-1*var(--h4));
	width:100%;
    background-color:var(--lightyellow);
    padding:var(--h1) var(--w1) var(--h1) var(--w1);
    line-height:calc(0.75 * var(--fontheight));
    font-size:calc(var(--fontheight)*0.75);
}

.tabletop .layer{
	top:0;
	position: absolute;
}

.game-container .title{
	font-size:calc(3*var(--fontheight));
	font-weight:bold;
	background-color:unset;
	padding:var(--h1) 0 var(--h2) 0;
}
.game-container .colophon{
	position:absolute;
	bottom:var(--h1);
    font-size:calc(var(--fontheight));
	font-weight:bold;
	font-style:italic;
	width:100%;
}

.game-container .subtitle{
	font-size:calc(var(--fontheight));
	font-weight:bold;
	font-style:italic;
	line-height:0;
	padding:var(--h1) var(--w8) 0 var(--w8);
}

.colophon .thanks{
	position:absolute;
	width:100%;
	text-align:left;
	padding:0 0 0 var(--w4);
}

.colophon .authorship{
	width:100%;
	text-align:right;
}

.authorship div{
	padding:0 var(--w2) 0;
}

